@font-face {
  font-family: khumbh-sans;
  src: url('../fonts/KumbhSans/KumbhSans-Regular.ttf');
}

@font-face {
  font-family: khumbh-sans;
  src: url('../fonts/KumbhSans/KumbhSans-Bold.ttf');
  font-weight: 600;
}