.layout-centered {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;

  .horiz-center {
    margin: 0 auto;
    height: 100%;
    position: relative;

    .vertical-center {
      width: 100%;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      .center-container {
        position: relative;
        height: 100%;
      }
    }
  }
}