$pink: #E0777D;
$black: #1E2019;
$grey: #6a6b67;
$limewhite: #ebf5f1;
$purple: #957FEF;
$cyan: #99E1D9;
$cyanDark: #79b5ae;
$lightgrey: #E4E4E4;
$navyLight: #E1E6EA;
$navyVeryLight: #F6F7F9;
$navy: #3B4353;
$silverSand: #96b5b1;
$bgColor: #F6F9FB;
$navyLightText: #9fb0bd;
$red: #c45e5e;
$zMax: 100000000000000000000;

:export {
    navy: $navy;
}