@font-face {
  font-family: khumbh-sans;
  src: url('../fonts/KumbhSans/KumbhSans-Regular.ttf');
}

@font-face {
  font-family: khumbh-sans;
  src: url('../fonts/KumbhSans/KumbhSans-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: mukta;
  src: url('../fonts/Mukta/Mukta-Regular.ttf');
}

@font-face {
  font-family: mukta;
  src: url('../fonts/Mukta/Mukta-Medium.ttf');
  font-weight: 600;
}